In [24]:
import pymysql

db = pymysql.connect(user='root', password='0000', host='localhost', db='result', cursorclass=pymysql.cursors.DictCursor)
# 현재 로컬호스트로 DB 사용중임. -> host를 localhost로 입력하면 됨.

In [25]:
cursor = db.cursor()

query = "SELECT * FROM result.electric_prediction_result_data_for_chart_year"
cursor.execute(query)
db_result = cursor.fetchall()

print(type(db_result))

<class 'list'>

In [27]:
import pandas as pd
db_result_df=pd.DataFrame(db_result)
db_result_df = db_result_df.drop([db_result_df.columns[0]], axis=1) # 중복 index열 삭제
db_result_df

               datetime      pred    actual
0      2016년-01월-01일-1시  0.090907  0.009860
1      2016년-01월-01일-2시  0.066563  0.009512
2      2016년-01월-01일-3시  0.064022  0.025983
3      2016년-01월-01일-4시  0.105088  0.011252
4      2016년-01월-01일-5시  0.075418  0.017283
...                 ...       ...       ...
8755  2016년-12월-31일-20시  0.117454  0.008584
8756  2016년-12월-31일-21시  0.059186  0.046746
8757  2016년-12월-31일-22시  0.117434  0.061014
8758  2016년-12월-31일-23시  0.117481  0.036887
8759  2016년-12월-31일-24시  0.117416  0.016239

[8760 rows x 3 columns]