In [33]:
# 화면 가로 확장 코드 (기본 width 50%)
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

In [49]:
import pymysql

db = pymysql.connect(host='127.19.12.23', user='Hwi', password='1223')
cursor = db.cursor()

try:
    cursor.execute('create database combined_data;')
    db.commit()
    db.close()
except:
    print('Schema already exsist!') # create if not exists를 이용할 수도 있지만 생성 여부 확인을 위해 예외처리로 나눔.

In [60]:
import pandas as pd

from sqlalchemy import create_engine

db = pymysql.connect(host='127.19.12.23', user='Hwi', password='1223')
cursor = db.cursor()

# csv파일 불러오기
df = pd.read_csv('House1_Ch1_Combined_Data_13-16.csv',encoding = 'cp949')
#df.columns = ['테이블과 동일한 컬럼명 사용하도록 수정']

# sqlalchemy를 사용해 원하는 database에 csv파일 저장
engine = create_engine("mysql+pymysql://Hwi:"+"1223"+"@127.19.12.23:3306/combined_data?charset=utf8", encoding = "cp949")
conn = engine.connect()
df.to_sql(name = "combined_data", con = engine, index = False)
conn.close()

# 저장 확인
sql = "select * from combined_data limit 5"
pd.read_sql(sql,db)

ValueError: Table 'combined_data' already exists.

In [61]:
# 저장 확인
sql = "select * from combined_data limit 5"
pd.read_sql(sql,db)

DatabaseError: Execution failed on sql 'select * from combined_data limit 5': (1046, 'No database selected')

In [53]:
"""
db = pymysql.connect(host='127.19.12.23', user='Hwi', db='combined_data', password='1223')
cursor = db.cursor()

cursor.execute('create table table1(id char(4))')
#cursor.execute('insert into new_table values(1,2,3)')
db.commit()
db.close()
"""