In [134]:
import pandas as pd
ch1 = pd.read_csv('./channel_1.dat', names=['Unix', 'Watt'],header=None, delimiter=" ")
print('Done!')

Done!

In [135]:
ch1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21837636 entries, 0 to 21837635
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   Unix    int64
 1   Watt    int64
dtypes: int64(2)
memory usage: 333.2 MB

In [136]:
print(ch1[0:11])
print('1번째')
print(ch1[0:1])
print()
print('21837636번째')
print(ch1[21837635:21837636])

          Unix  Watt
0   1352500095   599
1   1352500101   582
2   1352500107   600
3   1352500113   586
4   1352500120   596
5   1352500132   581
6   1352500138   597
7   1352500144   592
8   1352500150   587
9   1352500156   574
10  1352500168   577
1번째
         Unix  Watt
0  1352500095   599

21837636번째
                Unix  Watt
21837635  1493227960   672

In [177]:
from datetime import datetime
ch1_date = pd.DataFrame(ch1,columns = ['Unix', 'Date', 'Watt'])

ch1_date['Date'] = pd.to_datetime(ch1['Unix'], unit='s')
ch1_date.info()
ch1_date.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21837636 entries, 0 to 21837635
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   Unix    int64
 1   Date    datetime64[ns]
 2   Watt    int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 499.8 MB

         Unix                Date  Watt
0  1352500095 2012-11-09 22:28:15   599
1  1352500101 2012-11-09 22:28:21   582
2  1352500107 2012-11-09 22:28:27   600
3  1352500113 2012-11-09 22:28:33   586
4  1352500120 2012-11-09 22:28:40   596
5  1352500132 2012-11-09 22:28:52   581
6  1352500138 2012-11-09 22:28:58   597
7  1352500144 2012-11-09 22:29:04   592
8  1352500150 2012-11-09 22:29:10   587
9  1352500156 2012-11-09 22:29:16   574

In [352]:
i = 431368
while(i < 431378):

    #n = ch1_date.loc[i] # 데이터 순번(1씩)으로 카운트 13년 1월 1일과 17년 1월 1일은 431368, 20284836
    list1 = ch1_date.loc[i].values.tolist()
    print('칼럼 출력 >>', list1)

    # Nested List 사용해서 시간 정보만 따로 추출
    date = list1[1]
    y = date.year
    M = date.month
    d = date.day
    h = date.hour
    m = date.minute
    s = date.second

    # 확인용 각 변수 출력
    print('{0}년 {1}월 {2}일 - {3}시 {4}분 {5}초'.format(y, M, d, h, m, s))
    print()
    
    i=i+1

칼럼 출력 >> [1356998401, Timestamp('2013-01-01 00:00:01'), 499]
2013년 1월 1일 - 0시 0분 1초

칼럼 출력 >> [1356998407, Timestamp('2013-01-01 00:00:07'), 500]
2013년 1월 1일 - 0시 0분 7초

칼럼 출력 >> [1356998413, Timestamp('2013-01-01 00:00:13'), 515]
2013년 1월 1일 - 0시 0분 13초

칼럼 출력 >> [1356998419, Timestamp('2013-01-01 00:00:19'), 522]
2013년 1월 1일 - 0시 0분 19초

칼럼 출력 >> [1356998426, Timestamp('2013-01-01 00:00:26'), 508]
2013년 1월 1일 - 0시 0분 26초

칼럼 출력 >> [1356998432, Timestamp('2013-01-01 00:00:32'), 502]
2013년 1월 1일 - 0시 0분 32초

칼럼 출력 >> [1356998438, Timestamp('2013-01-01 00:00:38'), 507]
2013년 1월 1일 - 0시 0분 38초

칼럼 출력 >> [1356998444, Timestamp('2013-01-01 00:00:44'), 508]
2013년 1월 1일 - 0시 0분 44초

칼럼 출력 >> [1356998450, Timestamp('2013-01-01 00:00:50'), 500]
2013년 1월 1일 - 0시 0분 50초

칼럼 출력 >> [1356998456, Timestamp('2013-01-01 00:00:56'), 517]
2013년 1월 1일 - 0시 0분 56초

### 요 밑에 코드가 찐 작업중

In [325]:
n == 1356998401

# 17년 1월 1일이 되기 전까지 반복 1483228800
for n in range(1356998401, 483228800):
    unix_numb = ch1_date.Unix[n]
    # 추출할 컬럼의 Unix Timestamp 선정
    print(ch1_date[unix_numb])
    print('1차 가공')

    # 칼럼은 판다스 기반 데이터이기 때문에 리스트화 진행
    list1 = ch1_date[unix_numb].values.tolist()
    print('2차 가공')

    # Nested List 사용해서 시간 정보만 따로 추출
    date = list1[0][1]
    y = date.year
    M = date.month
    d = date.day
    h = date.hour
    m = date.minute
    s = date.second

    # 확인용 각 변수 출력
    print(y, M, d, '-', h, m, s)

    n = n+1
    # 여기서 시간 단위로 리스트에 추가
    """
    with open("./"+str(y)+'_'+str(M)+'_'+"House1_Ch1_Electric_Data.csv", 'a', newline='') as file:
        writer = csv.writer(file)
        writer.writerow(###################)       
        print() 
    """

## ============================

In [239]:
#print(ch1_date[0:21])

"""
print('1번째')
print(ch1_date[0:1])
print()

print('21837636번째')
print(ch1_date[21837635:21837636])


print('13년 데이터')
print(ch1_date[431368:5133240])
print()
"""
# + 255822

print('13년 1월')
print(ch1_date[431368:710840])
print()


print('17년 1월 1일 찾기')
print(ch1_date[20284800:20284851])
print()

13년 1월
              Unix                Date  Watt
431368  1356998401 2013-01-01 00:00:01   499
431369  1356998407 2013-01-01 00:00:07   500
431370  1356998413 2013-01-01 00:00:13   515
431371  1356998419 2013-01-01 00:00:19   522
431372  1356998426 2013-01-01 00:00:26   508
...            ...                 ...   ...
710835  1360756548 2013-02-13 11:55:48   176
710836  1360756555 2013-02-13 11:55:55   179
710837  1360756561 2013-02-13 11:56:01   178
710838  1360756567 2013-02-13 11:56:07   178
710839  1360756573 2013-02-13 11:56:13   178

[279472 rows x 3 columns]

17년 1월 1일 찾기
                Unix                Date  Watt
20284800  1483228577 2016-12-31 23:56:17   460
20284801  1483228583 2016-12-31 23:56:23   448
20284802  1483228590 2016-12-31 23:56:30   444
20284803  1483228596 2016-12-31 23:56:36   459
20284804  1483228602 2016-12-31 23:56:42   443
20284805  1483228608 2016-12-31 23:56:48   446
20284806  1483228614 2016-12-31 23:56:54   452
20284807  1483228620 2016-12-31 23:57:00   449
20284808  1483228626 2016-12-31 23:57:06   456
20284809  1483228632 2016-12-31 23:57:12   452
20284810  1483228638 2016-12-31 23:57:18   455
20284811  1483228645 2016-12-31 23:57:25   456
20284812  1483228651 2016-12-31 23:57:31   450
20284813  1483228657 2016-12-31 23:57:37   458
20284814  1483228663 2016-12-31 23:57:43   449
20284815  1483228670 2016-12-31 23:57:50   427
20284816  1483228676 2016-12-31 23:57:56   417
20284817  1483228682 2016-12-31 23:58:02   416
20284818  1483228688 2016-12-31 23:58:08   424
20284819  1483228694 2016-12-31 23:58:14   422
20284820  1483228701 2016-12-31 23:58:21   417
20284821  1483228707 2016-12-31 23:58:27   423
20284822  1483228713 2016-12-31 23:58:33   416
20284823  1483228719 2016-12-31 23:58:39   412
20284824  1483228725 2016-12-31 23:58:45   421
20284825  1483228732 2016-12-31 23:58:52   415
20284826  1483228738 2016-12-31 23:58:58   414
20284827  1483228744 2016-12-31 23:59:04   415
20284828  1483228750 2016-12-31 23:59:10   411
20284829  1483228756 2016-12-31 23:59:16   414
20284830  1483228763 2016-12-31 23:59:23   415
20284831  1483228769 2016-12-31 23:59:29   415
20284832  1483228775 2016-12-31 23:59:35   414
20284833  1483228781 2016-12-31 23:59:41   415
20284834  1483228787 2016-12-31 23:59:47   411
20284835  1483228794 2016-12-31 23:59:54   415
20284836  1483228800 2017-01-01 00:00:00   415
20284837  1483228806 2017-01-01 00:00:06   430
20284838  1483228812 2017-01-01 00:00:12   430
20284839  1483228819 2017-01-01 00:00:19   439
20284840  1483228825 2017-01-01 00:00:25   434
20284841  1483228831 2017-01-01 00:00:31   452
20284842  1483228837 2017-01-01 00:00:37   418
20284843  1483228843 2017-01-01 00:00:43   458
20284844  1483228849 2017-01-01 00:00:49   426
20284845  1483228856 2017-01-01 00:00:56   459
20284846  1483228862 2017-01-01 00:01:02   420
20284847  1483228868 2017-01-01 00:01:08   427
20284848  1483228874 2017-01-01 00:01:14   438
20284849  1483228880 2017-01-01 00:01:20   416
20284850  1483228886 2017-01-01 00:01:26   427

In [ ]:
# Max 값 찾기
numbers = [55, 4, 92, 1, 104, 64, 73, 99, 20]

max_value = max(numbers)
print('Maximum value:', max_value)