In [134]:
import pandas as pd
ch1 = pd.read_csv('./channel_1.dat', names=['Unix', 'Watt'],header=None, delimiter=" ")
print('Done!')

Done!

In [135]:
ch1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21837636 entries, 0 to 21837635
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   Unix    int64
 1   Watt    int64
dtypes: int64(2)
memory usage: 333.2 MB

In [136]:
print(ch1[0:11])
print('1번째')
print(ch1[0:1])
print()
print('21837636번째')
print(ch1[21837635:21837636])

          Unix  Watt
0   1352500095   599
1   1352500101   582
2   1352500107   600
3   1352500113   586
4   1352500120   596
5   1352500132   581
6   1352500138   597
7   1352500144   592
8   1352500150   587
9   1352500156   574
10  1352500168   577
1번째
         Unix  Watt
0  1352500095   599

21837636번째
                Unix  Watt
21837635  1493227960   672

In [177]:
from datetime import datetime
ch1_date = pd.DataFrame(ch1,columns = ['Unix', 'Date', 'Watt'])

ch1_date['Date'] = pd.to_datetime(ch1['Unix'], unit='s')
ch1_date.info()
ch1_date.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21837636 entries, 0 to 21837635
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   Unix    int64
 1   Date    datetime64[ns]
 2   Watt    int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 499.8 MB

         Unix                Date  Watt
0  1352500095 2012-11-09 22:28:15   599
1  1352500101 2012-11-09 22:28:21   582
2  1352500107 2012-11-09 22:28:27   600
3  1352500113 2012-11-09 22:28:33   586
4  1352500120 2012-11-09 22:28:40   596
5  1352500132 2012-11-09 22:28:52   581
6  1352500138 2012-11-09 22:28:58   597
7  1352500144 2012-11-09 22:29:04   592
8  1352500150 2012-11-09 22:29:10   587
9  1352500156 2012-11-09 22:29:16   574

In [210]:
# 추출할 컬럼의 Unix Timestamp 선정
unix_numb = ch1_date.Unix == 1356998401
print(ch1_date[unix_numb])
print('1차 가공')

# 칼럼은 판다스 기반 데이터이기 때문에 리스트화 진행
list1 = ch1_date[unix_numb].values.tolist()
print('2차 가공')

# Nested List 사용해서 시간 정보만 따로 추출
date = list1[0][1]
y = date.year
h = date.hour
m = date.minute
s = date.second

# 확인용 각 변수 출력
print(y, h, m, s)

              Unix                Date  Watt
431368  1356998401 2013-01-01 00:00:01   499
1차 가공
2차 가공
2013 0 0 1

## ============================

In [162]:
# Unix를 인덱스 열로 지정
ch1_date2 = ch1_date.set_index('Unix')
ch1_date2.info()
print(ch1_date2[1:11])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21837636 entries, 1352500095 to 1493227960
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   Date    datetime64[ns]
 1   Watt    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 499.8 MB
                          Date  Watt
Unix
1352500101 2012-11-09 22:28:21   582
1352500107 2012-11-09 22:28:27   600
1352500113 2012-11-09 22:28:33   586
1352500120 2012-11-09 22:28:40   596
1352500132 2012-11-09 22:28:52   581
1352500138 2012-11-09 22:28:58   597
1352500144 2012-11-09 22:29:04   592
1352500150 2012-11-09 22:29:10   587
1352500156 2012-11-09 22:29:16   574
1352500168 2012-11-09 22:29:28   577

In [176]:
ch1_date3 = ch1_date2.iloc[:, [0, 1]]
ch1_date3.head(10)
print(ch1_date3[1:])

                          Date  Watt
Unix
1352500101 2012-11-09 22:28:21   582
1352500107 2012-11-09 22:28:27   600
1352500113 2012-11-09 22:28:33   586
1352500120 2012-11-09 22:28:40   596
1352500132 2012-11-09 22:28:52   581
...                        ...   ...
1493227935 2017-04-26 17:32:15   667
1493227942 2017-04-26 17:32:22   667
1493227948 2017-04-26 17:32:28   686
1493227954 2017-04-26 17:32:34   667
1493227960 2017-04-26 17:32:40   672

[21837635 rows x 2 columns]

In [133]:
i = 431368
while(i<431378):
    count_list=ch1_date[i].values.tolist()
    count_list[1][0] # Nested List 에서 인덱싱 진행

    print(count_list[1][0]) # date
    print(count_list[1][0]) # watt

    print()
    stamp = count_list[0][0]
    print('hour:', stamp.hour)
    print('minute:', stamp.minute)
    print('second:', stamp.second)
    i=i+1

KeyError: 431368

In [65]:
#print(ch1_date[0:21])

"""
print('1번째')
print(ch1_date[0:1])
print()

print('21837636번째')
print(ch1_date[21837635:21837636])


print('13년 데이터')
print(ch1_date[431368:5133240])
print()
"""
# + 255822

print('13년 1월')
print(ch1_date[431368:710840])
print()


print('14년 1월 1일 찾기')
print(ch1_date[5133240:5133241])
print()

13년 1월
              Unix                Date  Watt
431368  1356998401 2013-01-01 00:00:01   499
431369  1356998407 2013-01-01 00:00:07   500
431370  1356998413 2013-01-01 00:00:13   515
431371  1356998419 2013-01-01 00:00:19   522
431372  1356998426 2013-01-01 00:00:26   508
...            ...                 ...   ...
710835  1360756548 2013-02-13 11:55:48   176
710836  1360756555 2013-02-13 11:55:55   179
710837  1360756561 2013-02-13 11:56:01   178
710838  1360756567 2013-02-13 11:56:07   178
710839  1360756573 2013-02-13 11:56:13   178

[279472 rows x 3 columns]

14년 1월 1일 찾기
               Unix                Date  Watt
5133240  1388534402 2014-01-01 00:00:02   485

In [10]:
test_list=ch1_date[5133239:5133240].values.tolist()
print(test_list) # 여기서 주기 결정, 변수 잘 넣어야 함
test_list[0][0] # Nested List 에서 인덱싱 진행

print(test_list[0][0])
print(test_list[0][1])

print()
stamp = test_list[0][0]
print('hour:', stamp.hour)
print('minute:', stamp.minute)
print('second:', stamp.second)

[[Timestamp('2013-12-31 23:59:55'), 481]]
2013-12-31 23:59:55
481

hour: 23
minute: 59
second: 55

In [1]:
t = 431368

In [ ]:
# Max 값 찾기
numbers = [55, 4, 92, 1, 104, 64, 73, 99, 20]

max_value = max(numbers)
print('Maximum value:', max_value)

In [ ]:
ch1_list = ch1_date['Date'].values.tolist()
print(type(ch1_list))
print(ch1_list)

In [ ]:
import numpy as np
ch1_list = list(np.array(ch1_date['Date'].tolist()))