In [4]:
import pandas as pd
ch1 = pd.read_csv('./channel_1.dat', names=['Unix', 'Watt'],
                  header=None, delimiter=" ")

print('Done!')

Done!

In [5]:
ch1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21837636 entries, 0 to 21837635
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   Unix    int64
 1   Watt    int64
dtypes: int64(2)
memory usage: 333.2 MB

In [6]:
print(ch1[0:21])
print('1번째')
print(ch1[0:1])
print()
print('21837636번째')
print(ch1[21837635:21837636])

          Unix  Watt
0   1352500095   599
1   1352500101   582
2   1352500107   600
3   1352500113   586
4   1352500120   596
5   1352500132   581
6   1352500138   597
7   1352500144   592
8   1352500150   587
9   1352500156   574
10  1352500168   577
11  1352500175   581
12  1352500181   587
13  1352500199   577
14  1352500211   584
15  1352500218   587
16  1352500224   592
17  1352500230   587
18  1352500236   585
19  1352500242   583
20  1352500248   593
1번째
         Unix  Watt
0  1352500095   599

21837636번째
                Unix  Watt
21837635  1493227960   672

In [7]:
from datetime import datetime
ch1_date = pd.DataFrame(ch1,columns = ['Date', 'Watt'])

ch1_date['Date'] = pd.to_datetime(ch1['Unix'], unit='s')

In [8]:
print(ch1_date[0:21])

print('1번째')
print(ch1_date[0:1])
print()

print('13년 데이터')
print(ch1_date[431368:5133240])
print()


print('14년 1월 1일 찾기')
print(ch1_date[5133240:5133241])
print()

print('21837636번째')
print(ch1_date[21837635:21837636])

                  Date  Watt
0  2012-11-09 22:28:15   599
1  2012-11-09 22:28:21   582
2  2012-11-09 22:28:27   600
3  2012-11-09 22:28:33   586
4  2012-11-09 22:28:40   596
5  2012-11-09 22:28:52   581
6  2012-11-09 22:28:58   597
7  2012-11-09 22:29:04   592
8  2012-11-09 22:29:10   587
9  2012-11-09 22:29:16   574
10 2012-11-09 22:29:28   577
11 2012-11-09 22:29:35   581
12 2012-11-09 22:29:41   587
13 2012-11-09 22:29:59   577
14 2012-11-09 22:30:11   584
15 2012-11-09 22:30:18   587
16 2012-11-09 22:30:24   592
17 2012-11-09 22:30:30   587
18 2012-11-09 22:30:36   585
19 2012-11-09 22:30:42   583
20 2012-11-09 22:30:48   593
1번째
                 Date  Watt
0 2012-11-09 22:28:15   599

13년 데이터
                       Date  Watt
431368  2013-01-01 00:00:01   499
431369  2013-01-01 00:00:07   500
431370  2013-01-01 00:00:13   515
431371  2013-01-01 00:00:19   522
431372  2013-01-01 00:00:26   508
...                     ...   ...
5133235 2013-12-31 23:59:31   481
5133236 2013-12-31 23:59:37   483
5133237 2013-12-31 23:59:43   482
5133238 2013-12-31 23:59:49   491
5133239 2013-12-31 23:59:55   481

[4701872 rows x 2 columns]

14년 1월 1일 찾기
                       Date  Watt
5133240 2014-01-01 00:00:02   485

21837636번째
                        Date  Watt
21837635 2017-04-26 17:32:40   672

In [9]:
"""
6초 간격으로 데이터 존재
(6초)*10 = 1분
1분 * 60 = 1시간
1시간 * 24 = 1일
1일 * 30 = 약 한달
6초가 기준 한칸이라면 한칸*10*60*24*30*12=한칸*5,184,000

하지만 실제 1년 차이는
4,701,872 정도
4701864 / 12 = 391822
"""

'\n6초 간격으로 데이터 존재\n(6초)*10 = 1분\n1분 * 60 = 1시간\n1시간 * 24 = 1일\n1일 * 30 = 약 한달\n6초가 기준 한칸이라면 한칸*10*60*24*30*12=한칸*5,184,000\n\n하지만 실제 1년 차이는\n4,701,872 정도\n4701864 / 12 = 391822\n'

In [10]:
test_list=ch1_date[5133239:5133240].values.tolist()
print(test_list) # 여기서 주기 결정, 변수 잘 넣어야 함
test_list[0][0] # Nested List 에서 인덱싱 진행

print(test_list[0][0])
print(test_list[0][1])

print()
stamp = test_list[0][0]
print('hour:', stamp.hour)
print('minute:', stamp.minute)
print('second:', stamp.second)

[[Timestamp('2013-12-31 23:59:55'), 481]]
2013-12-31 23:59:55
481

hour: 23
minute: 59
second: 55

In [1]:
t = 431368

In [ ]:
# Max 값 찾기
numbers = [55, 4, 92, 1, 104, 64, 73, 99, 20]

max_value = max(numbers)
print('Maximum value:', max_value)

In [ ]:
ch1_list = ch1_date['Date'].values.tolist()
print(type(ch1_list))
print(ch1_list)

In [ ]:
import numpy as np
ch1_list = list(np.array(ch1_date['Date'].tolist()))