## 데이터 합본 저장 & MySQL Import

In [4]:
import os
import pandas as pd
import csv
import pymysql
from sqlalchemy import create_engine

In [34]:
# 화면 가로 확장 코드 (기본 width 50%)
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

### 목차

In [6]:
"""
전력+기온 결합 데이터 폴더 생성
데이터 결합 코드

1년 단위 통합 데이터 처리

3년치 통합 데이터 처리
4년치 통합 데이터 처리

MySQL Import
"""

'\n전력+기온 결합 데이터 폴더 생성\n데이터 결합 코드\n\n1년 단위 통합 데이터 처리\n\n3년치 통합 데이터 처리\n4년치 통합 데이터 처리\n\n'

### 전력+기온 결합 데이터 폴더 생성

In [7]:
try:
    os.mkdir('./Combined_Data')
    for y in range(2013, 2017):
        os.mkdir('./Combined_Data/'+str(y))
    print('폴더 생성 완료.')
except FileExistsError:
    print('해당 폴더가 이미 존재합니다.\n폴더를 확인해주세요.')

해당 폴더가 이미 존재합니다.
폴더를 확인해주세요.

### 데이터 결합 코드

In [71]:
print('------------------------------< Start Working!! >------------------------------\n')

month = {1:31, 2:28, 3:31, 4:30, 5:31, 6:30, 7:31, 8:31, 9:30, 10:31, 11:30, 12:31}

for y in range(2013, 2017):
    
    for m in range(1,13):
        csv_electric = pd.read_csv("./Electric_Data/Electirc_Data_CSV_FInal/"+str(y)+"/"+str(y)+'_'+str(m)+'_'+"House1_Ch1_Electric_Data_Final.csv", encoding='cp949')
        csv_weather = pd.read_csv("./Weather_Data/Weather_Data_24H_CSV/"+str(y)+"/"+str(y)+'_'+str(m)+'_'+"London_Temperature_24H.csv", encoding='utf-8')
        csv_CPI = pd.read_csv('./CPI.csv')
        csv_electric['Temp']=csv_weather['Temp']
        csv_electric['CPI']=''
        date=str(y)+'_'+str(m)
        
        cpi=float(csv_CPI['CPI'].loc[csv_CPI['Date']==date])
        
        s = 0
        for d in range(month[m]):
            d=d+1 
            
            for n in range(s, s+24):
                combine_list=[]
                combine_list.append(csv_electric['DateTime'][n])
                combine_list.append(csv_electric['Graph_Date'][n])
                combine_list.append(csv_electric['Day'][n])
                combine_list.append(csv_electric['Holiday'][n])
                combine_list.append(csv_electric['Seq'][n])
                combine_list.append(csv_electric['Watt'][n])
                combine_list.append(csv_electric['Temp'][n])
                combine_list.append(cpi)
                with open("./Combined_Data/"+str(y)+"/"+str(y)+'_'+str(m)+'_'+"House1_Ch1_Combined_Data.csv", 'a', newline='') as file:
                                writer = csv.writer(file)
                                writer.writerow(combine_list)
            s=s+24
            
        csv_origin = pd.read_csv("./Combined_Data/"+str(y)+"/"+str(y)+'_'+str(m)+'_'+"House1_Ch1_Combined_Data.csv", names = ['DateTime', 'Graph_Date', 'Day', 'Holiday', 'Seq', 'Watt', 'Temp', 'CPI'], header = None, encoding='cp949')
        csv_origin.to_csv("./Combined_Data/"+str(y)+"/"+str(y)+'_'+str(m)+'_'+"House1_Ch1_Combined_Data.csv", encoding='cp949')
        
print('\n------------------------------< Job Done!! >------------------------------\n')

------------------------------< Start Working!! >------------------------------


------------------------------< Job Done!! >------------------------------

### 1년 단위 통합 데이터 처리

In [28]:
db = pymysql.connect(host='127.19.12.23', user='Hwi', password='1223')
cursor = db.cursor()

try:
    cursor.execute('create database combined_data;')
    db.commit()
    db.close()
    print('Database has been created\n')
    
except:
    print('Database already exsist!\n')
    
# =====================================================================================================================================================

for y in range(2013, 2017):
    folders = os.listdir('./Combined_Data/'+str(y)+'/')

    df_year = pd.DataFrame()
    for m in range(0,len(folders)):
        m=m+1
        file = './Combined_Data/'+str(y)+'/'+str(y)+'_'+str(m)+'_'+'House1_Ch1_Combined_Data.csv'
        df_m = pd.read_csv(file, encoding='cp949')
        df_year = pd.concat([df_year, df_m])
        
    df_year = df_year.drop([df_year.columns[0]], axis=1)
    df_year = df_year.reset_index(drop=True)
    df_year.to_csv("./Combined_Data/"+str(y)+'_'+"House1_Ch1_Combined_Data_Y.csv", encoding='cp949')

    # =====================================================================================================================================================
    
    db = pymysql.connect(host='127.19.12.23', user='Hwi', password='1223')
    cursor = db.cursor()

    # csv파일 불러오기
    df = pd.read_csv("./Combined_Data/"+str(y)+'_'+"House1_Ch1_Combined_Data_Y.csv", encoding = 'cp949')

    # sqlalchemy를 사용해 원하는 database에 csv파일 저장
    try:
        engine = create_engine("mysql+pymysql://Hwi:"+"1223"+"@127.19.12.23:3306/combined_data?charset=utf8", encoding = "cp949")
        conn = engine.connect()
        df.to_sql(name = str(y)+'_'+"House1_Ch1_Combined_Data", con = engine, index = False)
        conn.close()
        print()

    except ValueError:
        print('Table already exists!')

print('\n------------------------------< Year Merge Job Done!! >------------------------------\n')

Database already exsist!

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name '2013_House1_Ch1_Combined_Data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name '2014_House1_Ch1_Combined_Data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name '2015_House1_Ch1_Combined_Data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

------------------------------< Year Merge Job Done!! >------------------------------

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name '2016_House1_Ch1_Combined_Data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

### 3년 단위

In [29]:
df_3Y = pd.DataFrame()
for y in range(2013, 2016):
    file = './Combined_Data/'+str(y)+'_'+'House1_Ch1_Combined_Data_Y.csv'
    df_y= pd.read_csv(file, encoding='cp949')
    df_3Y = pd.concat([df_3Y, df_y])
    
df_3Y = df_3Y.drop([df_3Y.columns[0]], axis=1)
df_3Y = df_3Y.reset_index(drop=True)
df_3Y.to_csv("./Combined_Data/House1_Ch1_Combined_Data_13-15.csv", encoding='cp949')

In [30]:
Data_3Y = pd.read_csv('./Combined_Data/House1_Ch1_Combined_Data_13-15.csv', encoding='cp949')
Data_3Y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26280 entries, 0 to 26279
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  26280 non-null  int64
 1   DateTime    26280 non-null  int64
 2   Graph_Date  26280 non-null  object
 3   Day         26280 non-null  object
 4   Holiday     26280 non-null  int64
 5   Seq         26280 non-null  int64
 6   Watt        26280 non-null  int64
 7   Temp        26280 non-null  float64
 8   CPI         26280 non-null  float64
dtypes: float64(2), int64(5), object(2)
memory usage: 1.8+ MB

### 4년 단위

In [31]:
df_4Y = pd.DataFrame()
for y in range(2013, 2017):
    file = './Combined_Data/'+str(y)+'_'+'House1_Ch1_Combined_Data_Y.csv'
    df_y= pd.read_csv(file, encoding='cp949')
    df_4Y = pd.concat([df_4Y, df_y])
    
df_4Y = df_4Y.drop([df_4Y.columns[0]], axis=1)
df_4Y = df_4Y.reset_index(drop=True)
df_4Y.to_csv("./Combined_Data/House1_Ch1_Combined_Data_13-16.csv", encoding='cp949')

In [32]:
Data_4Y = pd.read_csv('./Combined_Data/House1_Ch1_Combined_Data_13-16.csv', encoding='cp949')
Data_4Y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35040 entries, 0 to 35039
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  35040 non-null  int64
 1   DateTime    35040 non-null  int64
 2   Graph_Date  35040 non-null  object
 3   Day         35040 non-null  object
 4   Holiday     35040 non-null  int64
 5   Seq         35040 non-null  int64
 6   Watt        35040 non-null  int64
 7   Temp        35040 non-null  float64
 8   CPI         35040 non-null  float64
dtypes: float64(2), int64(5), object(2)
memory usage: 2.4+ MB

### MySQL Import

In [33]:
db = pymysql.connect(host='127.19.12.23', user='Hwi', password='1223')
cursor = db.cursor()

try:
    cursor.execute('create database combined_data;')
    db.commit()
    db.close()
    print('Database has been created\n')
    
except:
    print('Database already exsist!\n')

    
last_year=15
total_year=3
for sql in range(2):
    db = pymysql.connect(host='127.19.12.23', user='Hwi', password='1223')
    cursor = db.cursor()

    # csv파일 불러오기
    df = pd.read_csv('./Combined_Data/House1_Ch1_Combined_Data_13-'+str(last_year)+'.csv', encoding = 'cp949')

    # sqlalchemy를 사용해 원하는 database에 csv파일 저장
    try:
        engine = create_engine("mysql+pymysql://Hwi:"+"1223"+"@127.19.12.23:3306/combined_data?charset=utf8", encoding = "cp949")
        conn = engine.connect()
        df.to_sql(name = "Combined_data_"+str(total_year)+"Y", con = engine, index = False)
        conn.close()
        print('Table Imported')
        
    except ValueError:
        print('Table already exists!')
    
    last_year=last_year+1
    total_year=total_year+1

print('\nJob Done!')

Database already exsist!

Table Imported
Table Imported

Job Done!