In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import csv
import os

In [20]:
#folders = os.listdir('./Combined_Data/')

df_3Y = pd.DataFrame()
for y in range(2013, 2017):
    file = './Combined_Data/'+str(y)+'_'+'House1_Ch1_Combined_Data_Y.csv'
    df_y= pd.read_csv(file, encoding='cp949')
    df_3Y = pd.concat([df_3Y, df_y])

df_3Y.to_csv("./Combined_Data/House1_Ch1_Combined_Data_13-16.csv", encoding='cp949')

Data = pd.read_csv('./Combined_Data/House1_Ch1_Combined_Data_13-16.csv', encoding='cp949')

In [22]:
Data.describe()

         Unnamed: 0  Unnamed: 0.1           Seq          Watt          Temp
count  35040.000000  35040.000000  35040.000000  35040.000000  35040.000000
mean    4379.500000    364.793151     11.500000   1271.350599     12.364041
std     2528.830248    211.226399      6.922285   1343.120559      5.860656
min        0.000000      0.000000      0.000000    167.000000      1.000000
25%     2189.750000    182.000000      5.750000    292.000000      8.000000
50%     4379.500000    364.500000     11.500000    506.000000     12.000000
75%     6569.250000    547.000000     17.250000   2308.000000     16.000000
max     8759.000000    743.000000     23.000000   8788.000000     34.000000