In [33]:
# 화면 가로 확장 코드 (기본 width 50%)
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

In [49]:
import pymysql

db = pymysql.connect(host='127.19.12.23', user='Hwi', password='1223')
cursor = db.cursor()

try:
    cursor.execute('create database combined_data;')
    db.commit()
    db.close()
except:
    print('Schema already exsist!') # create if not exists를 이용할 수도 있지만 생성 여부 확인을 위해 예외처리로 나눔.

In [53]:
db = pymysql.connect(host='127.19.12.23', user='Hwi', db='combined_data', password='1223')
cursor = db.cursor()

cursor.execute('create table table1(id char(4))')
#cursor.execute('insert into new_table values(1,2,3)')
db.commit()
db.close()